@import "variables";

@mixin trans($effect, $time) {
    transition: $effect $time ease;
}

@mixin text-content () {
    max-height: 130px;
    overflow: auto;
    text-align: justify;
    margin: 0;
    line-height: 22px;
    color: #000;
    background-color: transparent;
    border-radius: 5px;
    padding: 0 20px;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbDesc) var(--scrollbarBgDesc);
    @media (max-width: $lg) {
        max-height: 130px;
        font-size: 16px;
        line-height: 23px;
    }
    @media (max-width: $md) {
        font-size: 14px;
        line-height: 18px;
        height: 130px;
    }

    &::-webkit-scrollbar {
        width: var(--scrollbarWidth);
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbarBgDesc);
        border-radius: var(--scrollbarBorderRadius);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbarThumbDesc);
        border-radius: var(--scrollbarBorderRadius);
        border: var(--scrollbarBorder);
    }
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin modal-card() {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 620px;
    padding: 20px 40px;
    margin-top: -340px;
    margin-left: -250px;
    background-color: #ABCDFF;
    z-index: 3;
    border-radius: 10px;
    @media (max-width: $lg) {
        width: 500px;
        height: 630px;
        margin-left: -225px;
        margin-top: -350px;
    }
    @media (max-width: $md) {
        width: 280px;
        height: 600px;
        margin-left: -140px;
        margin-top: -300px;
        padding: 10px 15px;
    }
}
